---
name: gpi
---
<div class="hero-unit">
  <h1>Gruesome Playground Injuries</h1>
  <h2>by Rajiv Joseph</h2>
  <br>
  <div class="carousel slide" id="gpiSlides">
    <div class="carousel-inner">
        <div class="active item"><img src="/images/gpi/horiz1.jpg"></div>
        <div class="item"><img src="/images/gpi/horiz2.jpg"></div>
        <div class="item"><img src="/images/gpi/horiz3.jpg"></div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#gpiSlides" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#gpiSlides" data-slide="next">&rsaquo;</a>
  </div>
</div>

<div class="row">
  <div class="span3">
    <dl class="dl-horizontal">
      <dt>Director</dt><dd><a href="http://www.nnovacek.com/">Natalie Novacek</a></dd>
      <dt>Featuring</dt><dd><a href="http://www.leighahorton.com/">Leigha Horton</a> <br> Adam Whisner</dd>
      <dt>Lighting</dt><dd>Daniel Ellis</dd>
      <dt>Sound</dt><dd><a href="http://www.stuart-gates.com/">Stuart Gates</a></dd>
      <dt>Costumes</dt><dd>Kiley Cermak</dd>
      <dt>Makeup</dt><dd>Betsy Jorgensen</dd>
      <dt>Stage Management</dt><dd>Tamara Titsworth</dd>
    </dl>
  </div>
  <div class="span6">
    <p>In this modern-day love story, an accident prone dare devil and a corrosive masochist navigate friendship, love, and the squishy parts in between.  In a series of non-linear vignettes that bounce over three decades of a relationship, the lives of Kayleen and Doug intersect at the most bizarre intervals, leading the two childhood friends to compare scars and the physical calamities that draw them ever closer.</p>
    
    <p>Loudmouth Collective is proud to present a remount of <a href="http://thepeanutbutterfactory.com">the Peanut Butter Factory's</a> acclaimed production of <i>Gruesome Playground Injuries</i>, Rajiv Joseph's (United States Artists Rockefeller Fellow and Pulitzer Prize finalist) modern-day love story about the pains and injuries a relationship can endure.</p>
    </p>
    
    <p><a class="btn btn-success btn-large" href="/gpi/reserve">Reserve tickets »</a></p>
  </div>
  <div class="span3">
    <p>All performances are held at <a href="http://intermediaarts.org">Intermedia Arts</a> (2822 Lyndale Ave S, Minneapolis).</p>
    <p>Tickets are $15 dollars, and we offer a $5 <a href="http://fringefestival.org">Fringe Button</a> discount.</p>
    <p>All performances are at 8pm:</p>
    <ul>
      <li>Thursday, Sept 6th</li>
      <li>Friday, Sept 7th</li>
      <li>Saturday, Sept 8th</li>
      <li>Sunday, Sept 9th</li>
      <li>Monday, Sept 10th &mdash; <b>2-4-1</b></li>
      <li>Thursday, Sept 13th</li>
      <li>Saturday, Sept 15th</li>
      <li>Sunday, Sept 16th</li>
    </ul>
    <p>Run time: 105 minutes</p>
    <p><a href="/gpi/press">Press Info</a></p>
  </div>
</div>

<% content_for :post do %>
    <script>$('.carousel').carousel()</script>
<% end %>