---
name: gpipress
---      
<div class="hero-unit">
  <h1>Gruesome Playground Injuries</h1>
  <h2>Press Info</h2>
</div>

<div class="row">
  <div class="span8">
    <p><b>August 15, 2012 (Minneapolis, MN)</b> -- Loudmouth Collective's first production will open September 6th with a remount of The Peanut Butter Factory's production of Gruesome Playground Injuries by Rajiv Joseph. This productions features Leigha Horton and Adam Whisner as Kayleen and Doug, the accident prone duo who flirt with danger and each other as the play winds in and out of their lives over the course of 30 years.</p>
    <p>In this modern-day love story, an accident prone dare devil and a corrosive masochist navigate friendship, love, and the squishy parts in between. In a series of non-linear vignettes that bounce over three decades of a relationship, the lives of Kayleen and Doug intersect at the most bizarre intervals, leading the two childhood friends to compare scars and the physical calamities that draw them ever closer.</p>
    <p>Loudmouth Collective is a new theatre company that values small ensemble and solo exploration, minimal and specific language, and stories that ought to be told. The small theatre company is pieced together with big talent for this production. Featuring: Natalie Novacek (director), Daniel Ellis (lighting), Stuart Gates (sound), Kiley Cermak (costumes), Betsy Jorgensen (makeup), Tamara Titsworth (stage management).</p>
    <p>Thursday, September 6 @ 8:00pm<br> Friday, September 7 @ 8:00pm<br> Saturday, September 8 @ 8:00pm<br> Sunday, September 9 @ 8:00pm<br>
    Monday, September 10 @ 8:00pm (2-for-1 tickets)<br> Thursday, September 13 @ 8:00pm<br>
    Saturday, September 15 @ 8:00pm<br>
    Sunday, September 16 @ 8:00pm</p>
    <p>All seats are $15 ($10 with a Fringe button) and will be sold at the door 30 minutes before curtain. Intermedia Arts is located at 2822 Lyndale Avenue South, Minneapolis, MN 55408. For more information, please call the box office and information line at (612) 643-1231 or visit www.loudmouthcollective.com.</p>
    <p>Interviews available upon request.</p>
    <p>Please contact Sara Chamberlain, Marketing Director - <a href="mailto:sara.m.chamberlain@gmail.com">sara.m.chamberlain@gmail.com</a></p>
    <p>763-498-4983</p>
  </div>
  <div class="span4">
    <a href="/press/gpi-press-release.pdf">Press Release (pdf)</a><br>
    <a href="/press/press-kit.zip">Press Kit (zip)</a><br>
    <a href="/images/logo.png">Loudmouth Collective logo (png)</a><br>
    <a href="/press/logo-kit.zip">Loudmouth Collective logo kit (zip)</a>
    
    <p>All photos copyright <a href="http://www.justindgallophotography.com/">Justin D. Gallo Photography</a></p>
  </div>
</div>
