<div class="hero-unit">
  <h1><img src="/images/second-season/cds-header.jpg"></h1>

</div>

<div class="row">
  <div class="span3">
    <dl class="dl-horizontal">
      <dt>Director</dt><dd><a href="http://www.nnovacek.com/">Natalie Novacek</a></dd>
      <dt>Featuring</dt><dd>Wade A. Vaughn</dd>

      <dt>Lighting</dt><dd>Daniel Ellis</dd>
      <dt>Costumes</dt><dd>Kiley Cermak</dd>
    </dl>
  </div>
  <div class="span6">
  	<p>Hear the story of Leonard, as he attempts to determine the circumstances surrounding his murder, and understand what happened to himself. In this one man show, <i>Wade A. Vaughn</i> will transform into the multiple characters who bear witness to Leonard’s life and death. Yet each of their stories, while internally consistent, tells a subtly different version of what happened, progressively coloring and transforming our understanding of the characters as we think we had come to know them. In a headlong rush we understand that everyone’s story inevitably dead-ends at precisely the bottom of the preconceptions they brought to its telling.</p>
        
    <p>Loudmouth Collective opens its second season with <i>Cul-de-Sac</i>, showing off Siminovitch Prize in Theatre and Governer General's Award for Drama winning playwright Daniel MacIvor's incredible talent for solo work.</p>
    
    <p>During the run of <i>Cul-de-Sac</i>, Loudmouth Collective will give a workshop of a one woman show being commissioned by an up-and-coming playwright in the national theatre scene. With performance by Leigha Horton, direction by Natalie Novacek, and a new script by Chelsea M. Marcantel, <i>Much Louder than This</i> will be featured on May 22nd, 2013 at Open Eye Figure Theatre. <b>Drink This Play: A New Play Workshop & Happy Hour.</b>

  </div>
  <div class="span3">
    <p>All performances are held at <a href="http://openeyetheatre.org">Open Eye Figure Theatre</a> (506 E 24th St., Minneapolis).</p>
    <p>Running May 17-26th, all performances are at 8pm.</p>

    <p>Run time: 70 minutes</p>
    <p><a href="/second-season/press">Press Info</a></p>
  </div>
</div>