<div class="hero-unit">
  <h1><img src="/images/second-season/fuddy-header.jpg"></h1>
</div>

<div class="row">
  <div class="span3">
    <dl class="dl-horizontal">
      <dt>Director</dt><dd><a href="http://www.nnovacek.com/">Natalie Novacek</a></dd>
      <dt>Featuring</dt><dd>Leif Jurgensen</dd>
      <dt> </dt><dd>Paul Rutledge</dd>
      <dt> </dt><dd>Matt Sciple</dd>
      <dt> </dt><dd>Noe Tallen</dd>
      <dt> </dt><dd>Karen Wiese-Thompson</dd>
      <dt> </dt><dd>Katie Willer</dd>

      <dt>Lighting</dt><dd>Daniel Ellis</dd>
      <dt>Costumes</dt><dd>Kiley Cermak</dd>
    </dl>
  </div>
  <div class="span6">
    <p>Claire has a rare form of psychogenic amnesia that erases her memory whenever she goes to sleep. This morning, like all mornings, she wakes up a blank slate. A limping, lisping, half-blind, half-deaf man in a ski mask, pops out from under her bed and claims to be her brother, there to save her. She's hustled off to the country-house of her mother, a recent stroke victim whose speech has been reduced to utter gibberish. A dimwitted thug with a foul-mouthed hand puppet pops up at a window,  her driven husband and perpetually stoned son show up with a claustrophobic lady-cop that they've kidnapped. It's one harrowing and hilarious turn after another on this roller coaster ride through the day of an amnesiac trying to decipher her fractured life.</p>
    
    <p>This poignant and brutal new comedy traces one woman's attempt to regain her memory while surrounded by a curio-cabinet of alarmingly bizarre characters.</p>
    
    <p>Loudmouth Collective closes its second season with David Lindsay-Abaire's <i>Fuddy Meers</i>, a John Gassner Playwrighting Award winner.</p>
    
  </div>
  <div class="span3">
    <p>All performances are held at <a href="http://www.nimbustheatre.com/">Nimbus Theatre</a> (1517 Central Ave NE, Minneapolis).</p>
    <p>Running January 10th - 19th, 2014, all performances are at 8pm.</p>

    <p>Run time: 100 minutes</p>
    <p><a href="/second-season/press">Press Info</a></p>
  </div>
</div>