---
name: second-season
---

<div class="hero-unit">
  <h1><img src="/images/second-season/season-header.jpg"></h1>
  <br/>
  <p>Loudmouth Collective is pleased to announce its next season of challenging solo performance and engaging small ensemble work. The company is proud to continue building its community of artists and audience members.</p>
</div>

<div class="row">
  <div class="span6">
  	<a href="/second-season/cds"><img class="bs-icon" src="/images/icons/shot.png"></img>
    <h2><i>Cul-de-Sac</i> by Daniel MacIvor</h2></a>
    <p>Leonard has lived on the same dead-end street for the last 15 years, but claims that he never made much of an impact until one rainy night at 2:02am.</p>
    <p><i>Cul-de-Sac</i> runs May 17-26, 2013 at Open Eye Figure Theatre. It is directed by Natalie Novacek. It features a performance by Wade A. Vaughn and the designs of Katharine Horowitz and Stephanie Richards.</p>
    <h4>SPECIAL EVENT: Drink This Play: A New Play Workshop & Happy Hour</h4>

    <p>During the run of Cul-de-Sac, Loudmouth Collective will workshop their new, commissioned piece by Chelsea M. Marcantel.  Much Louder than This will feature a performance Leigha Horton and direction by Natalie Novacek.  Drink This Play: A New Play Workshop & Happy Hour will be May 22nd, 2013 at Open Eye Figure Theatre.</p>
  </div>
  <div class="span6">
  	<a href="/second-season/fuddy"><img class="bs-icon" src="/images/icons/home.png"></img>
    <h2><i>Fuddy Meers</i> by David Lindsay-Abaire</h2></a>
    <p>A woman whose memory is erased when she sleeps地 limping, lisping "brother" who kidnaps her地n accomplice with a sock puppet...a husband with murky intentions地 gibberish-speaking mom地nd a foul-mouthed teenage son. A farce about aphasia, and other oddities, from the playwright of Rabbit Hole.</p>
    <p><i>Fuddy Meers</i> runs January 10-19, 2014 at Nimbus Theatre. It is directed by Natalie Novacek. It features performances by Leif Jurgensen, Paul Rutledge, Matt Sciple, Noe Tallen, Karen Wiese-Thompson, and Katie Willer and the designs of Kiley Cermak and Daniel Ellis.</p>
  </div>
</div>
