---
name: second-season
---

<div class="hero-unit">
  <h1><img src="images/second-season/season-header.jpg"></h1>
  <br/>
  <p>Loudmouth Collective is pleased to announce its next season of challenging solo performance and engaging small ensemble work. The company is proud to continue building its community of artists and audience members.</p>
</div>

<div class="row">
  <div class="span6">
  	<a href="/second-season/cds"><img class="bs-icon" src="images/icons/shot.png"></img>
    <h2><i>Cul-de-Sac</i> by Daniel MacIvor</h2></a>
    <p>The first production of the season, Cul-de-Sac by Daniel MacIvor, tells the story of Leonard who narrates the events leading up to his murder while trying to understand them himself. In this one man show, <i>Wade A. Vaughn</i> will transform into the multiple characters who bear witness to Leonard’s life and death. Yet each of their stories, while internally consistent, tells a subtly different version of what happened, progressively coloring and transforming our understanding of the characters as we think we had come to know them. In a headlong rush we understand that everyone’s story inevitably dead-ends at precisely the bottom of the preconceptions they brought to its telling.</p>
    <p><i>Cul-de-Sac</i> runs May 17-26, 2013 at Open Eye Figure Theatre. It is directed by Natalie Novacek. It features a performance by Wade A. Vaughn and the designs of Katharine Horowitz and Stephanie Richards.</p>
    <p>During the run of <i>Cul-de-Sac</i>, Loudmouth Collective will give a workshop of a one woman show being commissioned by an up-and-coming playwright in the national theatre scene. With performance by Leigha Horton, direction by Natalie Novacek, and a new script by Chelsea M. Marcantel, <i>Much Louder than This</i> will be featured on May 22nd, 2013 at Open Eye Figure Theatre. <b>Drink This Play: A New Play Workshop & Happy Hour.</b>
  </div>
  <div class="span6">
  	<a href="/second-season/fuddy"><img class="bs-icon" src="images/icons/home.png"></img>
    <h2><i>Fuddy Meers</i> by David Lindsay-Abaire</h2></a>
    <p></p>
    <p><i>Fuddy Meers</i> runs January 10-19, 2014 at Nimbus Theatre. It is directed by Natalie Novacek. It features performances by Leif Jurgensen, Paul Rutledge, Matt Sciple, Noe Tallen, Karen Wiese-Thompson, and Katie Willer and the designs of Kiley Cermak and Daniel Ellis.</p>
  </div>
</div>
