---
name: mltt
---

<div class="hero-unit">
  <h1><img src="/images/second-season/mltt-header.jpg"></h1>
</div>

<div class="row">
  <div class="span3">
    <dl class="dl-horizontal">
      <dt>Director</dt><dd><a href="http://www.nnovacek.com/">Natalie Novacek</a></dd>
      <dt>Featuring</dt><dd><a href="http://www.leighahorton.com/">Leigha Horton</a></dd>
    </dl>
  </div>
  <div class="span6">
    <p>When an unusual sexual harassment claim between a female employee and her female boss catches the attention of the police and then the news media, it seems that everyone on the furthest fringe of the suit has an opinion.  What begins as a volatile dispute between two women ripples outward to include the voices of men and women in ever-growing numbers, inciting soul-searching, debate, and loud pronouncements on politics, gender roles, and The War on Women.  Based in the current US political climate and culled from interviews with more than 50 men and women from around the country, this world premiere play is sure to be raw, immediate, and breathtakingly honest.  Much Louder Than This is a dialogue between one playwright, one performer, and one thousand voices.</p>
    
    <p>Join us for a reading of this new solo show and a post-reading reception to discuss the work and enjoy food and drink.</p>
    
    <p>Loudmouth Collective is proud to be workshopping <a href="http://www.chelseamarcantel.com/">Chelsea M. Marcantel</a>'s newest work. She's worked at Collaboraction, The Side Project, 20% Theatre,
and others. As a winner of the Chicago Union League Civic and Arts Foundation's Emerging Playwright Award, her work has been produced at The Dramatists Guild of America (New York City), the Barter Theatre (Abingdon, VA), Acadiana Repertory Theatre (Lafayette, VA), and In/Visible Theatre (Boone, NC)</p>
    
  </div>
  <div class="span3">
    <p>Drink This Play will be held at <a href="http://openeyetheatre.org">Open Eye Figure Theatre</a> (506 E 24th St., Minneapolis).</p>
    <p>May 22nd.</p>

    <p><a href="/second-season/press">Press Info</a></p>
  </div>
</div>