---
name: s2press
---
<div class="hero-unit">
  <h1>Loudmouth Collective Announces 2013-2014 Season</h1>
  <h2>Press Info</h2>
</div>

<div class="row">
  <div class="span8">
    <p><b>January 11, 2013 (Minneapolis, MN)</b>: Loudmouth Collective announces its second season.
    <p>Loudmouth Collective is pleased to announce its next season of challenging solo performance and engaging small ensemble work. The company is proud to continue building its community of artists and audience members.</p>
    <p>The first production of the season is <b>Cul-de-Sac</b> by Daniel MacIvor. Leonard lives in one of the six houses neatly tucked away in a suburban cul-de-sac, a sophisticated variation on the blunt “dead end” that heralds streets leading nowhere. He’s lived on the same street for the last 15 years, but claims that he never made much of an impact until one rainy night at 2:02am. In Cul-de-Sac, Wade A. Vaughn transforms into Leonard and his neighbors in order to spill every juicy detail of a neighborhood tragedy.</p>
    <p><b>Cul-de-Sac runs May 17-26, 2013 at Open Eye Figure Theatre. It is directed by Natalie Novacek. It features a performance by Wade A. Vaughn and the design of Katharine Horowitz.</b></p>
    <p>During the run of Cul-de-Sac, Loudmouth Collective will give a workshop of a one woman show being commissioned by an up-and-coming playwright in the national theatre scene, Chelsea M. Marcantel. When an unusual sexual harassment claim between a female employee and her female boss catches the attention of the police and then the news media, it seems that everyone on the furthest fringe of the suit has an opinion. What begins as a volatile dispute between two women ripples outward to include the voices of men and women in ever-growing numbers, inciting soul-searching, debate, and loud pronouncements on politics, gender roles, and The War on Women. Based in the current US political climate and culled from interviews with more than 50 men and women from around the country, this world premiere play is sure to be raw, immediate, and breathtakingly honest. <b>Much Louder Than This</b> is a dialogue between one playwright, one performer, and one thousand voices.</p>
    <p><b>Drink This Play: A New Play Workshop & Happy Hour will be on May 22, 2013 at Open Eye Figure Theatre. It is directed by Natalie Novacek and features a performance by Leigha Horton.</b></p>
    <p>Loudmouth Collective’s final production of the season is <b>Fuddy Meers</b> by David Lindsay-Abaire. For Claire, a rare form of amnesia makes every day a clean slate. One morning she awakens to her husband offering her coffee and a book filled with essential information about life. While he takes a shower, a limping, lisping man emerges from under her bed to save her. He takes Claire to her mother, a stroke victim whose words are gibberish. A dim-witted thug, his potty-mouthed hand puppet, Claire’s husband, her perpetually-stoned teenaged son, and a recently kidnapped claustrophobic female cop all hold keys to her past. Amidst this chaos, the truth emerges proving that reality is rarely evident in what is seen on the surface... A farce about aphasia, and other oddities, from the playwright of Rabbit Hole.</p>
    <p><b>Fuddy Meers runs January 10-19, 2014 at Nimbus Theatre. It is directed by Natalie Novacek. It features performances by Leif Jurgensen, Paul Rutledge, Matt Sciple, Noe Tallen, Karen Wiese- Thompson, and Katie Willer and the designs of Kiley Cermak and Daniel Ellis.</b></p>
    <p>Loudmouth Collective’s 2013/2014 Production Season <br>Featuring work from Daniel MacIvor, Chelsea M. Marcantel, and David Lindsay-Abaire <br> Directed by Natalie Novacek</p>
    <p>Please contact Sara Chamberlain, Marketing Director - <a href="mailto:sara.m.chamberlain@gmail.com">sara.m.chamberlain@gmail.com</a></p>
    <p>763-498-4983</p>
  </div>
  <div class="span4">
    <a href="/press/s2-release.pdf">Press Release (pdf)</a><br>
    <a href="/press/s2-kit.zip">Press Kit (zip)</a><br>
    <a href="/images/logo.png">Loudmouth Collective logo (png)</a><br>
    <a href="/press/logo-kit.zip">Loudmouth Collective logo kit (zip)</a>
    
    <p>All photos copyright <a href="http://www.justindgallophotography.com/">Justin D. Gallo Photography</a></p>
  </div>
</div>