---
name: tp
---
      
<div class="hero-unit">
  <img src="/images/tp/title.jpg">
</div>

<div class="row">
  <div class="span3">
    <dl class="dl-horizontal">
      <dt>Director</dt><dd><a href="http://www.nnovacek.com/">Natalie Novacek</a></dd>
      <dt>Featuring</dt><dd>Sam Landman</dd>
      <dt>Lighting</dt><dd>Stephanie Richards</dd>
      <dt>Costumes</dt><dd>A. Emily Heany</dd>
      <dt>Stage Management</dt><dd>Christian Carter</dd>
    </dl>
  </div>
  <div class="span6">
    <p>Thom is someone you'll like- if you can get to know him. Between bee stings, dead dogs, and love interests he holds nothing back. While trying to stay focused on the story he's telling he'll let nothing get in the way, except maybe a piece of lint, or the woman in the second row.</p>
    
    <p>In Will Eno’s bitingly funny one-man show, Thom Pain searches through the wreckage of his life to uncover the remains of his childhood and meditates on the empty promises life makes and the way experience never lives up to the majesty of being alive.</p>
    
    <p>Loudmouth Collective closes its inaugural season with Will Eno’s Thom Pain (based on nothing), a 2005 Pulitzer Prize finalist and First Fringe Award winner at the Edinburgh Fringe.</p>
    
    
    <p><a class="btn btn-success btn-large" href="/tp/reserve">Reserve tickets »</a></p>
  </div>
  <div class="span3">
    <p>All performances are held at <a href="http://openeyetheatre.org">Open Eye Figure Theatre</a> (506 E 24th St., Minneapolis).</p>
    <p>Tickets are $15 dollars, and we offer a $5 <a href="http://fringefestival.org">Fringe Button</a> discount.</p>
    <p>All performances are at 8pm:</p>
    <ul>
      <li>Friday, January 11th</li>
      <li>Saturday, January 12th</li>
      <li>Sunday, January 13th</li>
      <li>Monday, January 14th &mdash; <b>2-4-1</b></li>
      <li>Thursday, January 17th</li>
      <li>Friday, January 18th</li>
      <li>Saturday, January 19th</li>
      <li>Sunday, January 20th</li>
    </ul>
    <p>Run time: 70 minutes</p>
    <p><a href="/tp/press">Press Info</a></p>
  </div>
</div>