---
name: tppress
---
<div class="hero-unit">
  <h1>Thom Pain (based on nothing)</h1>
  <h2>Press Info</h2>
</div>

<div class="row">
  <div class="span8">
    <p><b>November 12th, 2012 (Minneapolis, MN)</b> -- Nothing, you'll like nothing. Thom Pain (based on nothing) by Will Eno opens January 11th. Thom is someone you'll like- if you can get to know him. Between bee stings, dead dogs, and love interests he holds nothing back. While trying to stay focused on the story he's telling he'll let nothing get in the way, except maybe a piece of lint, or the woman in the second row.
    <p>Loudmouth Collective is thrilled to close its first season this winter at Open Eye Figure Theatre. Loudmouth Collective values small ensemble and solo exploration, minimal and specific language, and stories that ought to be told. Thom Pain features Sam Landman in the role of Thom Pain.
    <p>The small theatre company is pieced together with big talent for this production. Featuring: Natalie Novacek (director), Stephanie Richards (lighting), Emily Heany (costumes), Christian Carter (stage management).</p>
    <p>Friday, January 11 @ 8:00pm<br>
    Saturday, January 12 @ 8:00pm<br>
    Sunday, January 13@ 8:00pm<br>
    Monday, January 14 @ 8:00pm (2-for-1 tickets for all patrons)<br>
    Thursday, January 17 @ 8:00pm<br>
    Friday, January 18 @ 8:00pm<br>
    Saturday, January 19 @ 8:00pm<br>
    Sunday, January 20@ 8:00pm</p>
    <p>All seats are $15 ($10 with a Fringe button) and will be sold at the door 30 minutes before curtain. Open Eye is located at 506 East 24th St, Minneapolis, MN 55404. For more information, please call the box office and information line at (612) 643-1231 or visit www.loudmouthcollective.com.</p>
    <p>Interviews available upon request.</p>
    <p>Please contact Sara Chamberlain, Marketing Director - <a href="mailto:sara.m.chamberlain@gmail.com">sara.m.chamberlain@gmail.com</a></p>
    <p>763-498-4983</p>
  </div>
  <div class="span4">
    <a href="/press/tp-press-release.pdf">Press Release (pdf)</a><br>
    <a href="/press/tp-press-kit.zip">Press Kit (zip)</a><br>
    <a href="/images/logo.png">Loudmouth Collective logo (png)</a><br>
    <a href="/press/logo-kit.zip">Loudmouth Collective logo kit (zip)</a>
    
    <p>All photos copyright <a href="http://www.justindgallophotography.com/">Justin D. Gallo Photography</a></p>
  </div>
</div>