<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Loudmouth Collective</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li <% if page_name == "home" %>class="active" <% end %>><a href="/">Home</a></li>
          <li <% if page_name == "about" %>class="active" <% end %>><a href="/about">About</a></li>
          <li <% if page_name == "tppress" %>class="active" <% end %>><a href="/tp/press">Press</a></li>
          <li <% if page_name == "tp" %>class="active" <% end %>><a href="/tp">Our Next Show</a></li>
          <li <% if page_name == "people" %>class="active" <% end %>><a href="/people">Our People</a></li>
          <li <% if page_name == "contact" %>class="active" <% end %>><a href="/contact">Contact</a></li>
          <li <% if page_name == "second-season" %> class="active" <%end%>> <a href="/second-season">Second Season</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
