---
name: about
---


<div class="hero-unit">
  <h1><img src="/images/logo.png"></h1>
  <p>Loudmouth Collective is looking forward to seeing you at a show, but we also want you to know a bit about where we are coming from.</p>
</div>

<div class="row">
  <div class="span4">
    <img class="bs-icon" src="/images/icons/group.png"></img><h2>We create community</h2>
    <p>We seek out teams and artists who work together well. It's our belief that when are artists are a community, it's much easier to bring our audience into that.</p>
  </div>
  <div class="span4">
    <img class="bs-icon" src="/images/icons/beer.png"></img><h2>We want to share a drink</h2>
    <p>We love our audiences, and want to get to know them. We'll always have our artists or staff at the bar after, to talk about the show.</p>
  </div>
  <div class="span4">
    <img class="bs-icon" src="/images/icons/stopwatch.png"></img><h2>We don't waste your time</h2>
    <p>Who wants to sit through a three hour show with two intermissions? Our shows are short so we can get right to the point, the story.</p>  
  </div>
</div>

<div class="row">
  <div class="span4">
    <img class="bs-icon" src="/images/icons/cake.png"></img><h2>We have fun</h2>
    <p>Theater is what you make of it, so we make sure to have a good time on stage so you can have a good time in your seat.</p>
  </div>
  <div class="span4">
    <img class="bs-icon" src="/images/icons/cart.png"></img><h2>We get it</h2>
    <p>It's important to us that we investigate everyday struggles, things that happen to people like us. This way we can actually understand.</p>
  </div>
  <div class="span4">
    <img class="bs-icon" src="/images/icons/heart.png"></img><h2>We are sick of apathy</h2>
    <p>We want to laugh, cry, smile, get angry, or just feel <emph>something</emph>. Maybe our stories don't move you to campaign for human rights,
      but they're stories that will move you.</p>  
  </div>
</div>

<div class="row">
  <div class="span4">
    <img class="bs-icon" src="/images/icons/parents.png"></img><h2>We're small</h2>
    <p>Loudmouth Collective is moved by what a small ensemble or even one solo performer can do.</p>
  </div>
  <div class="span4">
    <img class="bs-icon" src="/images/icons/book.png"></img><h2>We love language</h2>
    <p>Our heroes are playwrights like Will Eno, Daniel MacIvor, Rajiv Joseph. We seek out minimal and very specific language that we understand and can uncover.</p>
  </div>
  <div class="span4">
    <img class="bs-icon" src="/images/icons/dislikes.png"></img><h2>We tell stories</h2>
    <p>Above all else, we tell stories that ought to be told.</p>  
  </div>
</div>