---
name: contact
---
<div class="hero-unit">
  <h1><img src="images/logo.png"></h1>
  <p>We want to make you a part of our community. <a href="http://eepurl.com/mpTwD">Join our mailing list</a> for updates on our productions and special events we are hosting,
  or send us an email directly.</p>
  <p><a class="btn btn-primary btn-large" href="mailto:contact@loudmouthcollective.com">contact@loudmouthcollective.com »</a></p>
</div>
