---
name: home
---
<div class="hero-unit">
  <h1><img src="images/logo.png" alt="loudmouth logo"></h1>
  <p>Let's create a close knit community. Let's create timely art, and let's share it.</p>
  <p><a class="btn btn-primary btn-large" href="/second-season">Our Second Season has been announced »</a></p>
</div>

<div class="row">
  <div class="span4">
    <h2>We believe that...</h2>
     <ul class="unstyled">
       <li>...theater is best served in under two hours.</li>
       <li>...the potency of post-show discussion is best aided by a cold beverage.</li>
       <li>...theater is what you make of it. We have a good time, so you can have one too.</li>
       <li>...it is important to investigate the everyday struggles of everyday characters.</li>
       <li>...we like to laugh or cry or just feel something.</li>
       <li><strong>and we hope that you do too.</strong></li>
     </ul>
    <p><a class="btn" href="http://eepurl.com/mpTwD">Join our mailing list »</a></p>
  </div>
  <div class="span4">
    <h2>We value...</h2>
     <p>small ensemble and solo exploration. minimal and specific language. stories that ought to be told. community in the rehearsal room and the theater.</p>
    <p><a class="btn" href="/about">Find out where we're coming from »</a></p>
 </div>
  <div class="span4">
    <h2>Next up...</h2>
    <p>Sam Landman is just like you, except worse, in Will Eno’s one-man meditation on nothing. And a raffle.</p>
    <p><i>Thom Pain (based on nothing)</i>, playing at the Open Eye Figure Theatre.</p>
    <p><a class="btn btn-success" href="/tp">Get the details »</a></p>
  </div>
</div>
