<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Loudmouth Collective</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:title" content="Loudmouth Collective" />
<meta property="og:type" content="non_profit" />
<meta property="og:url" content="http://loudmouthcollective.com" />
<meta property="og:image" content="https://sphotos-b.xx.fbcdn.net/hphotos-snc6/208878_232725450178252_623340800_n.jpg" />
<meta property="og:site_name" content="Loudmouth Collective" />
<meta property="fb:app_id" content="399854306766158" />

    <!-- basic styles -->
    <link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/bootstrap.min.css" />
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        background-image: url(/images/diamond.png)
      }
    </style>
    <link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/bootstrap-responsive.min.css" />
    
    

    <!-- html5 shim for IE -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32995361-1']);
      _gaq.push(['_setDomainName', 'loudmouthcollective.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>

  <body>
    
    <%= partial :navbar, :locals => {:page_name => data.page.name} %>
    
    <div class="container">
      
      <%= yield %>
      
      <hr>
      <footer>
        <div class="fb-like" data-href="https://www.facebook.com/loudmouthco" data-send="false" data-width="450" data-show-faces="false"></div>
        <p>© Loudmouth Collective 2012</p>
        <p>Made with and inspired by <a href="http://getbootstrap.com/">Bootstrap</a>. Icons from Glyphicons Free, licensed under CC BY 3.0.</p>
      </footer>
    </div> 
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <%= yield_content :post %>
  </body>
</html>
