---
name: people
---
<div class="hero-unit">
  <h1><img src="/images/logo.png"></h1>
  <p>We may be new on the block, but Loudmouth Collective is rooted in using experienced and well known artists in the Twin Cities to create
    strong companies and production teams, people whose work our audiences want to see. We put together groups of people who we admire, who
    we like to work with, and who we would be glad to hang out with over a long rehearsal and performance process. We pick our shows with
    specific artists in mind, or pick an artist and find the right show to do with them. We won't produce a show (no matter how much we love
    the script) unless we know we can get the perfect artists for it.</p>
    
  <p><a class="btn btn-info btn-large" href="/info">Learn about our values »</a></p>  
</div>

<div class="row">
  <div class="span4 offset2">
    <h2>Our Staff</h2>
     <ul class="unstyled">
       <li>Natalie Novacek - Artistic Director</li>
       <li>Katie Willer - Associate Artistic Director</li>
       <li>Christian Carter - Producing Director</li>
       <li>Sara Chamberlain - Marketing Director</li>
     </ul>
  </div>
  <div class="span6">
    <h2>We are proud to have worked with...</h2>
    <ul>
      <li>Adam Whisner - Actor</li>
      <li>Leigha Horton - Actor</li>
      <li>Stuart Gates - Sound Designer</li>
      <li>Daniel Ellis - Lighting Designer</li>
      <li>Kiley Cermak - Costume Designer</li>
      <li>William Glasper - Graphic Designer</li>
      <li>Tamara Titsworth - Stage Manager</li>
      <li>Jackie O'Shea - Stage Manager</li>
      <li>Stephanie Richards - Lighting Designer</li>
      <li>Emily Heany - Costume Designer</li>
      <li>Sam Landman - Actor</li>
    </ul>
 </div>
</div>